{% extends 'base.html.twig' %}

{% block title %}Edit Todo{% endblock %}

{% block body %}
    <h1>Edit Todo</h1>

    {{ include('todo/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-sm btn-light" href="{{ path('todo_index') }}">back to list</a>
    {% if todo.urlimage %}
        {{ include('todo/_delete_urlimage_form.html.twig') }}
    {% endif %}

    {{ include('todo/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/add_edit_todo_comments.js') }}"></script>
{% endblock %}
