<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('home') }}">TODO Symfony</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Accueil</a>
            </li>
            {%  if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="todoLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Todo
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="todoLink">
                        <a class="dropdown-item" href="{{ path('todo_index') }}">Lister les todos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('todo_new') }}">Ajouter une todo</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="priorityLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Priority
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="priorityLink">
                        <a class="dropdown-item" href="{{ path('priority_index') }}">Lister les priorités</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('priority_new') }}">Ajouter une priorité</a>
                    </div>
                </li>
            {% endif %}
            {%  if is_granted('ROLE_USER') %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="LabelLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Labels
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="labelLink">
                    <a class="dropdown-item" href="{{ path('label_index') }}">Lister les labels</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('label_new') }}">Ajouter un label</a>
                </div>
            </li>
            {% endif %}
            {%  if is_granted('ROLE_USER') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="loginLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>&nbsp;&nbsp;Profile
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="loginLink">
                        <a class="dropdown-item" href="#">Mon profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">
                        <i class="fas fa-user"></i>&nbsp;&nbsp;Se connecter
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>